{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"requireConfigFile": false,
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"browser": true
	},
	"extends": [
		"@open-xamu-co/eslint-config"
	],
	"overrides": [
		{
			"files": [
				"*.vue"
			],
			"extends": [
				"plugin:vue/vue3-recommended"
			],
			"rules": {
				"indent": "off",
				"vue/require-default-prop": "off",
				"vue/no-v-for-template-key-on-child": "off",
				"vue/singleline-html-element-content-newline": "off",
				"vue/script-indent": "off",
				"vue/html-indent": "off",
				"vue/max-attributes-per-line": [
					"error",
					{
						"singleline": 5
					}
				],
				"vue/html-self-closing": [
					"error",
					{
						"html": {
							"void": "always",
							"normal": "never"
						}
					}
				],
				"vue/no-undef-components": "off",
				"vue/multi-word-component-names": "off",
				"vue/component-name-in-template-casing": [
					"error",
					"PascalCase"
				]
			}
		}
	]
}