@use "module";

// Button but vertical
// this element is expected to be an <button>, <a> or <label> element
//
// @group Components
@mixin button-y {
	@layer definitions {
		.#{module.$component-button-y} {
			@include module.action-styles;
			@include module.action-aligment-styles;
			@include module.action-theme-union-styles;
			@include module.action-disabled-styles(false);

			padding: 0.8rem 0.2rem;
			border-radius: 0.4rem * module.$radius-action;
			border-width: 2px;
		}
	}
}
