@use "module";

// radio input
//
// @group Components
@mixin input-radio {
	$radius-action-round: module.strip-unit(module.$size-radius-action-round);

	@layer definitions {
		input[type^="r"].#{module.$component-input-radio} {
			@include module.action-toggle-styles;

			// Toggle size
			@include module.extend-sizes($viewports: module.$viewports) using($size, $unit) {
				+ label::after {
					border-radius: $size * $radius-action-round;
				}
			}

			&:checked + label::after {
				content: "\f111";
			}
		}
	}
}
