@use "module";

// input-color element
//
// @group Components
@mixin input-color {
	@layer definitions {
		.#{module.$component-input-color} {
			display: block;
			overflow: hidden;
			cursor: pointer;

			@include module.action-styles;
			@include module.action-size-styles(false) using ($size) {
				width: $size;
			}
			@include module.action-border-styles using($radius) {
				&::-webkit-color-swatch {
					border-radius: $radius;
				}

				&::-moz-color-swatch {
					border-radius: $radius;
				}
			}
			@include module.action-disabled-styles;

			&::-webkit-color-swatch-wrapper {
				padding: 0;
			}

			&::-webkit-color-swatch {
				border: none;
				width: 50%;
				height: 50%;
			}

			&::-moz-color-swatch {
				border: none;
				width: 50%;
				height: 50%;
			}

			@layer defaults {
				// theme
				//
				// @group Modifiers
				@include module.extend-themes using($name, $value, $is-default) {
					--bg: #{module.color($name, 0.1)};
					--bc: #{module.color($name, 0.05)};
					--cl: #{module.color($name)};
					--cl-a: #{module.color($name, 0.5)};
				}
			}

			&:hover:not(:focus, :focus-within) {
				--bc: var(--cl-a);
			}

			&:focus,
			&:focus-within {
				--bc: var(--cl);
			}
		}

		// input-color picker
		//
		// @see https://github.com/linx4200/vue-color
		// @group Components
		.#{module.$component-input-color}-picker {
			width: auto !important;

			.body {
				width: 7rem;
				box-sizing: content-box;
				gap: 0.5rem;

				@include module.flex-box(row, wrap, flex-start, flex-start);
			}

			.vc-editable-input {
				position: relative;
				width: 100%;
				height: 2rem;
				border-radius: 0.7rem;
				background-color: rgba(var(--rgb-dark), 0.05);
				color: rgba(var(--rgb-dark), 0.6);
				font-size: 0.9rem;

				&::after {
					content: "#";
					position: absolute;
					top: 0;
					left: 0;
					width: 2rem;
					height: 100%;
					color: rgba(var(--rgb-dark), 0.6);

					@include module.flex-box(row, wrap, center, center);
				}
			}

			.vc-input-input {
				display: block;
				width: 100%;
				height: 100%;
				padding: 1px 0.5rem 1px 2rem;
				outline: none;
				border: 0;
				background-color: transparent;

				span {
					display: none;
				}
			}

			.vc-input-label {
				text-transform: capitalize;
			}

			.triangle,
			.hash,
			.clear {
				display: none;
			}

			.swatch {
				width: 2rem;
				height: 2rem;
				float: left;
				border-radius: 0.7rem;
				cursor: pointer;
				position: relative;
				outline: none;
			}
		}
	}
}
