@use "module";

// margin
/// # Margin modifiers
/// Control element outer margins and alignment.
///
/// ## Classes:
/// - `.--m`: Sets margin to 1rem.
/// - `.--mX`: Sets horizontal margins to 1rem.
/// - `.--mY`: Sets vertical margins to 1rem.
/// - `.--mTop`, `.--mRight`, `.--mBottom`, `.--mLeft`: Direction margins (1rem).
/// - `.--m-[5-50]`, `.--mX-[5-50]`, `.--mY-[5-50]`, `.--m[Direction]-[5-50]`: Sized margins in steps of 5 (e.g. `--m-30` is 2rem).
/// - `.--m-0`, `.--m-none`, etc.: Resets margin to 0.
/// - `.--m-center`, `.--mX-center`: Centers element horizontally (`margin-left: auto; margin-right: auto`).
/// - `.--mY-center`: Centers element vertically (`margin-top: auto; margin-bottom: auto`).
/// - `.--mX-left`, `.--mX-right`, `.--mY-top`, `.--mY-bottom`: Auto-margins for layout alignments.
///
/// @group modifiers-size
@mixin margin-size {
	@layer modifiers {
		.#{module.$prefix-default}--m {
			@include module.extend-gutters(margin);

			&-center {
				@include module.extend-viewports-classes {
					margin: 0 auto;
				}
			}

			// box margins
			// X axis
			//
			// @group GlobalModifiers
			&X {
				&-left {
					@include module.extend-viewports-classes {
						margin-left: 0;
						margin-right: auto;
					}
				}

				&-right {
					@include module.extend-viewports-classes {
						margin-left: auto;
						margin-right: 0;
					}
				}

				// default
				&,
				&-center {
					@include module.extend-viewports-classes {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			// box margins
			// Y axis
			//
			// @group GlobalModifiers
			&Y {
				&-top {
					@include module.extend-viewports-classes {
						margin-top: 0;
						margin-bottom: auto;
					}
				}

				&-bottom {
					@include module.extend-viewports-classes {
						margin-top: auto;
						margin-bottom: 0;
					}
				}

				// default, not usual but there is cases where it works
				&,
				&-center {
					@include module.extend-viewports-classes {
						margin-top: auto;
						margin-bottom: auto;
					}
				}
			}
		}
	}
}
