@use "../utils/module" as utils;
@use "sass:meta";

@function border-selector($name) {
	@return "-#{$name}, ";
}

// TODO: consider refactoring this confusing border modifier (color, width, style)

/// # Border modifiers
/// Control element border width and style.
///
/// ## Classes:
/// - `.--bdr`: Initializes default border (solid style, transparent color).
/// - `.--bdr-[size]`: Sets specific border width (e.g., `.--bdr-xs` to `.--bdr-mx`).
/// - `.--bdr-dashed`: Sets border style to dashed.
/// -`.-- bdr-solid`: Sets border style to solid.
///
/// @group modifiers
@mixin border {
	@layer modifiers {
		.#{utils.$prefix-default}--bdr {
			&,
			&.#{utils.$prefix-default}--size {
				@include utils.extend-sizes(
						$selector: meta.get-function("border-selector"),
						$default-selector: null
					)
					using($size, $unit) {
					border-width: $unit * 1px;

					@layer defaults {
						border-style: solid;
						border-color: transparent;
					}
				}
			}

			// borderStyle
			//
			// @group Modifiers
			&-dashed {
				border-style: dashed;
			}

			&-solid {
				border-style: solid;
			}
		}
	}
}
