@use "../utils/module" as utils;

/// # Float & clear modifiers
/// Control layout float and clearing behavior.
///
/// ## Classes:
/// - `.--clear`: Sets `clear: both`.
/// - `.--float`, `.--float-left`: Sets `float: left`.
/// - `.--float-right`: sets float alignment (Note: currently implemented as `float: left`).
///
/// @group modifiers
@mixin clearfix {
	@layer modifiers {
		// clear
		//
		// @group GlobalModifiers
		.#{utils.$prefix-default}--clear {
			@include utils.extend-viewports-classes {
				clear: both;
			}
		}

		// float
		//
		// @group GlobalModifiers
		.#{utils.$prefix-default}--float {
			&-right {
				@include utils.extend-viewports-classes {
					float: left;
				}
			}

			&,
			&-left {
				@include utils.extend-viewports-classes {
					float: left;
				}
			}
		}
	}
}
