@use "../utils/module" as utils;
@use "sass:math";

/// # Opacity modifiers
/// Control element opacity.
///
/// ## Classes:
/// - `.--opacity-0`, `.--opacity-none`: Sets `opacity: 0`.
/// - `.--opacity`, `.--opacity-10`: Sets `opacity: 1`.
/// - `.--opacity-01` to `.--opacity-09`: Sets decimal opacity (from 0.1 to 0.9).
///
/// @group modifiers
@mixin opacity {
	@layer modifiers {
		.#{utils.$prefix-default}--opacity {
			&-0,
			&-none {
				@include utils.extend-viewports-classes {
					opacity: 0;
				}
			}

			&,
			&-10 {
				@include utils.extend-viewports-classes {
					opacity: 1;
				}
			}

			@for $i from 1 through 9 {
				&-0#{$i} {
					@include utils.extend-viewports-classes {
						opacity: math.div($i, 10);
					}
				}
			}
		}
	}
}
