// Forward here to minimize imports
@forward "../../utils/module";
@use "../../utils/module";
@use "sass:math";

// icon & svgIcon
//
// @group SharedStyles
@mixin icon-styles {
	width: auto;
	height: 1em;
	font-size: 1rem;

	&:not(.#{module.$prefix-default}--logo).#{module.$prefix-default}--square {
		width: 1em;
	}

	// icon margin
	//
	// @group Modifiers
	&.#{module.$prefix-default}--m,
	&.#{module.$prefix-default}--margin {
		&:not(:first-child) {
			margin-left: 0.4em;
		}

		&:not(:last-child) {
			margin-right: 0.4em;
		}
	}

	&.#{module.$prefix-default}--indicator {
		transition: transform 0.3s ease-out;
	}

	@at-root .#{module.$status-is-active} #{&} {
		&.#{module.$prefix-default}--indicator {
			transform: rotate(180deg);
		}
	}

	// icon size
	//
	// @group Modifiers
	@for $i from 2 through 10 {
		&.#{module.$prefix-default}--size-#{$i * 5} {
			font-size: math.div($i, 3) * 1rem;
		}
	}
}

@mixin svg-active-styles {
	--cl: var(--cl-a, #{module.$color-text});
	&.#{module.$prefix-default}--logo {
		--cl: var(--cl-l, #{module.color(primary)});
	}
}
