# Javascript Node CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
defaults: &defaults
    working_directory: ~/repo
    docker:
        - image: cimg/node:20.19.3

release: &release
    <<: *defaults
    steps:
        - checkout
        - attach_workspace:
              at: ~/repo
        # Download and cache dependencies
        - restore_cache:
              name: Restore Yarn Package Cache
              key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
        - run:
              name: Install dependencies
              command: yarn
        - run:
              name: Release to npm
              command: yarn release

jobs:
    setup:
        <<: *defaults
        steps:
            - checkout
            # Download and cache dependencies
            - restore_cache:
                  name: Restore Yarn Package Cache
                  key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Install dependencies
                  command: yarn
            - save_cache:
                  name: Save Yarn packages cache
                  key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules
                      - packages/common-helpers/node_modules
                      - packages/common-types/node_modules
                      - packages/common-enums/node_modules
                      - packages/components-vue/node_modules
                      - packages/nuxt/node_modules
                      - packages/styles/node_modules
            - run:
                  name: Define environment variable with lastest commit's message
                  command: |
                      echo 'export COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")' >> $BASH_ENV
                      source $BASH_ENV
            - run:
                  name: Lint commit message
                  command: echo "$COMMIT_MESSAGE" | npx commitlint

    build:
        <<: *defaults
        steps:
            - checkout
            # Download and cache dependencies
            - restore_cache:
                  name: Restore Yarn Package Cache
                  key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Install dependencies
                  command: yarn
            - run:
                  name: Build distributables
                  command: yarn build
            - persist_to_workspace:
                  root: ~/repo
                  paths:
                      - packages/**/dist
                      - packages/nuxt/.nuxt

    tests:
        <<: *defaults
        steps:
            - checkout
            - attach_workspace:
                  at: ~/repo
            # Download and cache dependencies
            - restore_cache:
                  name: Restore Yarn Package Cache
                  key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Install dependencies
                  command: yarn
            - run:
                  name: Lint & check
                  command: yarn lint

    prerelease:
        <<: *release

    dry_release:
        <<: *defaults
        steps:
            - checkout
            - attach_workspace:
                  at: ~/repo
            # Download and cache dependencies
            - restore_cache:
                  name: Restore Yarn Package Cache
                  key: yarn-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
            - run:
                  name: Install dependencies
                  command: yarn
            - run:
                  name: Dry release
                  command: yarn release:dry

    release:
        <<: *release

workflows:
    check_and_release_workflow:
        jobs:
            - setup
            - build:
                  requires:
                      - setup
            - tests:
                  requires:
                      - build
            - prerelease:
                  context: npm-deploy
                  requires:
                      - tests
                  filters:
                      branches:
                          only:
                              - next
            - dry_release:
                  context: npm-deploy
                  requires:
                      - build
                  filters:
                      branches:
                          only:
                              - master
            - approve_release:
                  type: approval
                  requires:
                      - build
                  filters:
                      branches:
                          only:
                              - master
            - release:
                  context: npm-deploy
                  requires:
                      - tests
                      - dry_release
                      - approve_release
                  filters:
                      branches:
                          only:
                              - master
