@use "module";

/// # Flexbox Align modifiers
/// Control alignment of flexbox items along the cross axis.
///
/// ## Classes:
/// - `.--flxAlign`, `.--flxAlign-center`: Aligns items to center.
/// - `.--flxAlign-start`: Aligns items to start.
/// - `.--flxAlign-end`: Aligns items to end.
/// - `.--flxAlign-stretch`: Stretches items to fit.
/// - `.--flxAlign-baseline`: Aligns items along their text baselines.
///
/// Similar classes exist for self alignment (`.--flxAlignSelf-[modifier]`).
///
/// @group modifiers-flexbox
@mixin flex-align {
	@layer modifiers {
		.#{module.$prefix-default}--flxAlign {
			&-end {
				@include module.extend-viewports-classes {
					align-items: flex-end;
				}
			}

			&-start {
				@include module.extend-viewports-classes {
					align-items: flex-start;
				}
			}

			&-stretch {
				@include module.extend-viewports-classes {
					align-items: stretch;
				}
			}

			&-baseline {
				@include module.extend-viewports-classes {
					align-items: baseline;
				}
			}

			// default
			&,
			&-center {
				@include module.extend-viewports-classes {
					align-items: center;
				}
			}
		}

		.#{module.$prefix-default}--flxAlignSelf {
			&-end {
				@include module.extend-viewports-classes {
					align-self: flex-end;
				}
			}

			&-start {
				@include module.extend-viewports-classes {
					align-self: flex-start;
				}
			}

			&-stretch {
				@include module.extend-viewports-classes {
					align-self: stretch;
				}
			}

			&-baseline {
				@include module.extend-viewports-classes {
					align-self: baseline;
				}
			}

			// default
			&,
			&-center {
				@include module.extend-viewports-classes {
					align-self: center;
				}
			}
		}
	}
}
