@use "module";

/// # Flexbox Direction modifiers
/// Control flexbox layout directions and wrap configurations.
/// Used as well by grid layout.
///
/// ## Classes:
/// - `.--flxRow`: Sets row direction with no wrapping.
/// - `.--flxRow-wrap`: Sets row direction with wrapping.
/// - `.--flxRow-reverse`: Sets row direction with wrap-reverse (Note: this configures `flex-wrap: wrap-reverse`, not `flex-direction: row-reverse`).
/// - `.--flxRow-nowrap`: Sets row direction with no wrapping.
/// - `.--flxRowReverse`: Sets row-reverse direction with no wrapping.
/// - `.--flxRowReverse-wrap`: Sets row-reverse direction with wrapping.
/// - `.--flxRowReverse-reverse`: Sets row-reverse direction with wrap-reverse.
/// - `.--flxRowReverse-nowrap`: Sets row-reverse direction with no wrapping.
///
/// Similar classes exist for column layouts: `.--flxColumn` and `.--flxColumnReverse` (and their `-wrap`, `-reverse`, `-nowrap` variants).
///
/// @group modifiers-flexbox
@mixin flex-direction {
	@layer modifiers {
		.#{module.$prefix-default}--flxRow {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-direction: row;
				}
			}
		}
		.#{module.$prefix-default}--flxRowReverse {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-direction: row-reverse;
				}
			}
		}

		// flexbox flex container
		//
		// @group Modifiers
		.#{module.$prefix-default}--flxColumn {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-direction: column;
				}
			}
		}
		.#{module.$prefix-default}--flxColumnReverse {
			&,
			&-wrap,
			&-reverse,
			&-nowrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-direction: column-reverse;
				}
			}
		}

		// an union could be a shorter solution, but is a huge breaking change
		.#{module.$prefix-default}--flxRow,
		.#{module.$prefix-default}--flxColumn,
		.#{module.$prefix-default}--flxRowReverse,
		.#{module.$prefix-default}--flxColumnReverse {
			&-wrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-wrap: wrap;
				}
			}

			&-reverse {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-wrap: wrap-reverse;
				}
			}

			// default
			&,
			&-nowrap {
				@include module.extend-viewports-classes($viewports: module.$viewports) {
					flex-wrap: nowrap;
				}
			}
		}
	}
}
