@use "module";

// Background color
// color based modifiers
//
// @group Modifiers
@mixin background-color {
	@layer modifiers {
		.#{module.$prefix-default}--bgColor {
			@include module.extend-colors(light, true) using($name, $value, $is-default) {
				@include module.extend-viewports-classes {
					background-color: $value;
				}
			}

			&-none {
				@include module.extend-viewports-classes {
					background-color: transparent;
					background-image: unset;
				}
			}
		}
	}
}
