@use "module";

/// # Border Color modifiers
/// Control the border color and opacity shades of elements.
///
/// ## Classes:
/// - `.--bdrColor`: Sets default border color (secondary at 10% opacity).
/// - `.--bdrColor-[color]`: Sets specific border color (e.g., `--bdrColor-primary`).
/// - `.--bdrColor-[color][1-9]`: Sets border color with opacity shade (from 10% to 90%, e.g., `--bdrColor-primary3`).
/// - `.--bdrColor-none`: Sets border color to transparent.
///
/// @group modifiers-color
@mixin border-color {
	@layer modifiers {
		.#{module.$prefix-default}--bdrColor {
			// default color, not plain
			@include module.extend-viewports-classes {
				border-color: module.color(secondary, 0.1);
			}

			// no default
			@include module.extend-colors($shade: true) using($name, $value, $is-default) {
				@include module.extend-viewports-classes {
					border-color: $value;
				}
			}

			&-none {
				@include module.extend-viewports-classes {
					border-color: transparent;
				}
			}
		}
	}
}
