@use "../utils/module" as utils;

/// # Float layout
/// Layout container that floats all its immediate children.
/// ```css
///  .float
/// ```
///
/// ## Requirements:
/// None.
///
/// ## Modifiers:
/// ### Float direction
/// Control the floating direction of children items (left is default).
/// ```css
///  /* Floats children to the right */
///  .float.--floatDir-right
///
///  /* Floats children to the left */
///  .float.--floatDir-left
///  .float.--floatDir
/// ```
///
/// ## Unions:
/// None.
///
/// @group layout-float
@mixin float {
	@layer definitions {
		.#{utils.$layout-float} {
			@include utils.extend-device-interactions {
				display: block;

				@layer defaults {
					> * {
						// @defaults float
						float: left;
					}
				}
			}

			&.#{utils.$prefix-default}--floatDir {
				&-right {
					@include utils.extend-viewports-classes {
						@layer defaults {
							> * {
								// @defaults float
								float: right;
							}
						}
					}
				}

				&,
				&-left {
					@include utils.extend-viewports-classes {
						@layer defaults {
							> * {
								// @defaults float
								float: left;
							}
						}
					}
				}
			}
		}
	}
}
