@use "sass:math";
@use "../utils/module" as utils;

// limita el ancho de los elementos en el contenidos
//
// @name Columns
// @group Layouts
@mixin holder {
	@layer definitions {
		.#{utils.$layout-holder} {
			margin: 0 auto;

			// display: block;
			&:not(.#{utils.$prefix-default}--p-none) {
				transition: padding 0.3s ease-out;
				padding: 0 1rem;

				@if utils.$allow-responsive {
					@media (width > utils.$querie-tablet) {
						padding: 0 2rem;
					}
				}
			}

			@layer defaults {
				// @defaults width, maxWidth
				// 1200 = 75rem
				width: 100%;
				max-width: math.div(utils.$size-px-default, 16) * 1rem;
			}
		}
	}
}
