@use "sass:math";
@use "../utils/module" as utils;

// limita el ancho de los elementos en el contenidos
//
// @name Columns
// @group Layouts
@mixin holder {
	@layer definitions {
		.#{utils.$layout-holder} {
			margin: 0 auto;

			// display: block;
			&:not(.#{utils.$prefix-default}--p-none) {
				box-sizing: border-box;
				transition: padding 0.3s ease-out;
				padding: 0 1rem;

				@if utils.$allow-responsive {
					@media (min-width: (utils.$querie-tablet + 1)) {
						padding: 0 2rem;
					}

					@media (max-width: utils.$querie-tablet) and (hover: none) {
						.#{utils.$layout-scroll}.#{utils.$prefix-default}--horizontal {
							margin-left: -1rem;
							margin-right: -1rem;
							padding: 0 1rem;
							width: auto;
						}
					}
				}
			}

			@layer defaults {
				& {
					// @defaults width, maxWidth
					// 1200 = 75rem
					width: 100%;
					max-width: math.div(utils.$size-px-default, 16) * 1rem;
				}
			}
		}
	}
}
