@use "../utils/module" as utils;

// Modal element
//
// @group Layouts
@mixin modal {
	@layer definitions {
		.#{utils.$layout-modal} {
			height: max-content;
			overflow: hidden;
			box-shadow: 3px 3px 9px utils.color(dark, 0.3);

			&:has(.#{utils.$layout-modal}-content) {
				padding-left: 0;
				padding-right: 0;
			}

			// size
			@include utils.extend-sizes using($size, $unit) {
				@layer defaults {
					& {
						padding: ($size * 0.7) $size;
						border-radius: $size * (utils.strip-unit(utils.$size-radius-box) + 0.333);

						// explicitly define content location containers
						.#{utils.$layout-modal}-content {
							padding-left: $size;
							padding-right: $size;
						}
					}
				}
			}

			// Modal theme
			//
			// @group Modifiers
			@include utils.extend-unions
				using($theme, $theme-value, $base, $base-value, $is-default) {
				@layer defaults {
					// @defaults bgColor
					& {
						color: utils.color($base, 0.7);
						background-color: utils.color($theme);

						th,
						td {
							&.#{utils.$prefix-default}--sticky {
								background-color: utils.color($theme);
							}
						}
					}
				}
			}
		}
	}
}
