@use "../utils/module" as utils;

// Main navigation
// this element is expected to be an <nav> wrapper
//
// @name Columns
// @group Layouts
@mixin navigation-x {
	@layer definitions {
		.#{utils.$layout-navigation-x} {
			width: 100%;

			@include utils.flex-box(column, nowrap, center, stretch);

			// es barra de navegacion principal
			//
			// @group Modifiers
			&:not(.#{utils.$prefix-default}--sub) {
				&,
				.#{utils.$layout-navigation-x}-wrapper {
					height: 5rem;
					transition:
						all 0.3s ease-out,
						padding 0s;
				}

				// navigation theme
				// no default theme
				//
				// @group Modifiers
				@include utils.extend-themes(null) using($name, $value, $is-default) {
					> .#{utils.$layout-navigation-x}-wrapper {
						background: utils.color($name);
					}
					&:not(.#{utils.$prefix-default}--relative)
						> .#{utils.$layout-navigation-x}-wrapper {
						box-shadow: 0 0.4rem 2.4rem utils.color(dark, 0.05);
					}
				}
			}

			// es barra de navegacion secundaria
			//
			// @group Modifiers
			&.#{utils.$prefix-default}--sub {
				position: absolute;
				left: 0;
				top: 100%;

				// margin: 0;
				height: 2.4rem;
				border-top: 2px solid transparent;
				border-bottom: 2px solid transparent;

				// navigation theme
				// no default theme
				//
				// @group Modifiers
				@include utils.extend-themes(null) using($name, $value, $is-default) {
					border-bottom-color: utils.color($name, 0.05);
				}
			}
		}

		// Navigation wrapper
		.#{utils.$layout-navigation-x}-wrapper {
			&,
			> .#{utils.$layout-holder} {
				width: 100%;
				height: 100%;
				position: static;

				@include utils.flex-box(row, nowrap, space-between, center);
			}
		}

		// Navigation nav list
		// this element is expected to be an <ul> or <ol> list
		ul,
		ol {
			&.#{utils.$layout-navigation-x}-list {
				position: static;

				@include utils.flex-box(row, nowrap, center, center);

				@layer defaults {
					gap: 1rem;
				}

				@if utils.$allow-responsive {
					@media (width <= utils.$querie-smartphone) {
						@layer defaults {
							gap: 0.3rem;
						}
					}
					@media (width <= utils.$querie-tablet) {
						@layer defaults {
							gap: 0.5rem;
						}
					}
				}
			}
		}

		// Navigation nav list item
		// this element is expected to be an <li> list item
		li.#{utils.$layout-navigation-x}-list-item {
			@include utils.flex-box(column, nowrap, center, flex-start);
		}
	}
}
