@use "../utils/module" as utils;

/// # List layout
/// Collapsible list layout system. Uses preceding hidden radio/checkbox elements to toggle visibility without javascript.
/// ```css
///  nav.list
/// ```
///
/// ## Requirements:
///
/// ### Toggler
/// Requires an element with the toggler class:
/// ```css
///  .toggle--list
/// ```
/// To trigger collapse on click natively, prepend a checkbox or radio input inside the `<nav class="list">`, and place the `.list-group` next to the toggler:
/// ```html
///  <nav class="list">
///   <input type="checkbox" id="menu1">
///   <label for="menu1" class="toggle--list">
///     <span>Toggle Menu</span>
///     <i class="icon --indicator fas fa-chevron-down"></i>
///   </label>
///   <ul class="list-group">
///     <li>Item 1</li>
///   </ul>
///  </nav>
/// ```
///
/// ## Modifiers:
///
/// ### Flow direction
/// Controls layout flow direction of `.list-group` items.
/// ```css
///  /* row direction flow (horizontal items) */
///  .list-group.--flow-row
///
///  /* column direction flow (vertical items - default) */
///  .list-group.--flow-column
/// ```
///
/// @group layout-list
/// @example njk
///  {% extends "list.njk" %}
@mixin list {
	@layer definitions {
		.#{utils.$status-toggle-list} {
			display: block;

			@include utils.flex-box(row, nowrap, space-between, center);
			i.#{utils.$component-icon},
			.#{utils.$component-svg} {
				&.#{utils.$prefix-default}--indicator {
					width: 1.8rem;
				}
			}
		}

		nav.#{utils.$layout-list} {
			> input[type="radio"],
			> input[type="checkbox"] {
				display: none;
			}
			&.#{utils.$status-is-active},
			> input[type="radio"]:checked ~,
			> input[type="checkbox"]:checked ~ {
				.#{utils.$status-toggle-list} {
					font-weight: utils.weight(bold);
					margin-bottom: 1rem;
					i.#{utils.$component-icon},
					.#{utils.$component-svg} {
						&.#{utils.$prefix-default}--indicator {
							transform: rotate(180deg);
						}
					}
				}
				.#{utils.$status-toggle-list} + {
					ul.#{utils.$layout-list}-group,
					ol.#{utils.$layout-list}-group {
						max-height: none;
					}
				}
			}

			.#{utils.$status-toggle-list} + {
				ul.#{utils.$layout-list}-group,
				ol.#{utils.$layout-list}-group {
					max-height: 0;
					overflow: hidden;

					> li {
						width: 100%;
					}
				}
			}
		}

		// .list-title
		span.#{utils.$layout-list}-title {
			display: block;
			margin-bottom: 1rem;
		}

		ul,
		ol {
			// .list-group
			&.#{utils.$layout-list}-group {
				overflow: visible;

				// flow direction
				//
				// @group Modifiers
				&.#{utils.$prefix-default}--flow-row {
					@include utils.flex-box(row, nowrap, flex-start, center);

					> li:not(:last-child) {
						margin-right: 1rem;
					}
				}

				// default flow
				&:not([class*="--flow"]),
				&.#{utils.$prefix-default}--flow-column {
					// Flow
					@include utils.flex-box(column, nowrap, flex-start, stretch);

					> *:not(:last-child) {
						margin-bottom: 0.4rem;
					}
				}

				> li {
					text-align: left;

					@layer defaults {
						// @defaults txtAlign, txtWrap
						* {
							text-align: left;
						}
					}

					a,
					label,
					button {
						line-height: utils.$size-line-height-lg;
					}
				}
			}
		}
	}
}
