@use "../utils/module" as utils;

/// # Side Navigation (Vertical) layout
/// Side panel layout wrapper for vertical navigation menus.
/// ```css
///  nav.navigationY
/// ```
///
/// ## Structure:
/// Expected HTML structure:
/// ```html
///  <nav class="navigationY">
///   <div class="navigationY-menu">
///    <ul class="navigationY-menu-list">
///     <li>...</li>
///    </ul>
///   </div>
///  </nav>
/// ```
///
/// ## Modifiers:
///
/// ### Sub navigation menu
/// Configures navigation menu to be secondary/sub menu (positioned differently on desktop viewports).
/// ```css
///  .navigationY-menu.--sub
/// ```
///
/// @group layout-navigation
/// @example njk
///  {% extends "navigation.njk" %}
@mixin navigation-y {
	@layer definitions {
		nav.#{utils.$layout-navigation-y} {
			background-color: utils.color(light, 0.9);
			width: auto;

			// flex: 0 0 auto;
			@include utils.flex-box(row, nowrap, flex-start, stretch);
		}

		.#{utils.$layout-navigation-y}-menu {
			min-height: 100%;
			height: auto;

			// es barra de navegacion principal
			//
			// @group Statuses
			&:not(.#{utils.$prefix-default}--sub) {
				@layer defaults {
					gap: 1rem;
				}

				@include utils.flex-box(column, nowrap, space-between, center);
				ul.#{utils.$layout-navigation-y}-menu-list,
				ol.#{utils.$layout-navigation-y}-menu-list {
					align-items: center;
				}
			}

			// es barra de navegacion secundaria
			//
			// @group Statuses

			&.#{utils.$prefix-default}--sub {
				@if utils.$allow-responsive {
					@media (width > utils.$querie-tablet) {
						overflow: hidden;

						@include utils.flex-box(column, nowrap, space-between, flex-start);
					}
				}
			}
		}

		// Navigation nav list
		// this element is expected to be an <ul> or <ol> list
		ul,
		ol {
			&.#{utils.$layout-navigation-y}-menu-list {
				@layer defaults {
					gap: 1rem;
				}

				@include utils.flex-box(column, nowrap, center, flex-start);
			}
		}
	}
}
