@use "../utils/module" as utils;

/// # Text Block layout
/// Formats text blocks with predefined gap spacing, line height, and content width constraints.
/// ```css
///  .txt
/// ```
///
/// ## Requirements:
/// None.
///
/// ## Modifiers:
///
/// ### Box padding
/// Adds box padding around the text block container.
/// ```css
///  .txt.--box
///  .txt.--miniBox
/// ```
///
/// ## Unions:
/// None.
///
/// @group layout-text
@mixin text {
	@layer defaults {
		.#{utils.$layout-text} {
			// @defaults txtWrap, txtColor, maxWidth, txtAlign
			text-align: left;
			max-width: utils.$size-max-text-width;
			gap: 0.8em;

			@include utils.flex-box(column, nowrap, flex-start, flex-start, inline-flex);

			* {
				text-align: left;
				line-height: utils.$size-line-height-lg;
			}
		}
	}
	@layer definitions {
		.#{utils.$layout-text} {
			// Childs
			img {
				max-width: 100%;
				height: auto;
			}

			// Text block component
			//
			// @group Components
			&.#{utils.$prefix-default}--box,
			&.#{utils.$prefix-default}--miniBox {
				padding: 0.4rem 1rem;
			}
		}
	}
}
