@use "../utils/module" as utils;

// Envuelve cada vista
//
// @name Columns
// @group Layouts

@mixin view {
	@layer definitions {
		.#{utils.$layout-view} {
			@include utils.flex-box(column, nowrap, center, stretch);
		}

		// Define las diferentes secciones de cada vista
		//
		// @name Columns
		// @group Layouts
		.#{utils.$layout-view}-item {
			overflow: visible;
			height: auto;

			@include utils.flex-box(row, nowrap, center, stretch);

			// min height
			//
			// @group Modifiers
			@layer defaults {
				// @defaults minHeight
				min-height: 60vh;
				min-height: 60dvh;
			}

			&.#{utils.$prefix-default}--minHeight-100 {
				min-height: calc(100vh - utils.$size-view-top-buffer);
				min-height: calc(100dvh - utils.$size-view-top-buffer);
			}

			> .#{utils.$layout-holder} {
				@layer defaults {
					@include utils.flex-box(column, nowrap, center, stretch);

					gap: 2rem;
				}
			}
		}
	}
}
