@use "module";

// text align
//
// @group Modifiers
@mixin text-align {
	@layer modifiers {
		.#{module.$prefix-default}--txtAlign {
			// txtAlignFlx
			&Flx {
				&-right {
					@include module.extend-viewports-classes {
						align-items: flex-end;
					}
				}

				&-center {
					@include module.extend-viewports-classes {
						align-items: center;
					}
				}

				&-justify {
					@include module.extend-viewports-classes {
						align-items: stretch;
					}
				}

				// default
				&,
				&-left {
					@include module.extend-viewports-classes {
						align-items: flex-start;
					}
				}

				&,
				&-left,
				&-justify,
				&-center,
				&-right {
					@include module.extend-viewports-classes {
						flex-flow: column nowrap;
						justify-content: flex-start;

						&:not(table, thead, tbody) {
							// Gaping
							display: inline-flex;
						}
					}
				}
			}

			// txtAlign & txtAlignFlx
			&,
			&Flx {
				&-right {
					@include module.extend-viewports-classes {
						text-align: right;

						@layer defaults {
							* {
								// @defaults txtAlign
								text-align: right;
							}
						}
					}
				}

				&-center {
					@include module.extend-viewports-classes {
						text-align: center;

						@layer defaults {
							* {
								// @defaults txtAlign
								text-align: center;
							}
						}
					}
				}

				&-justify {
					@include module.extend-viewports-classes {
						text-align: justify;

						@layer defaults {
							* {
								// @defaults txtAlign
								text-align: justify;
							}
						}
					}
				}

				// default
				&,
				&-left {
					@include module.extend-viewports-classes {
						text-align: left;

						@layer defaults {
							* {
								// @defaults txtAlign
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}
