@use "module";

// Text color
@mixin text-color {
	@layer modifiers {
		.#{module.$prefix-default}--txtColor {
			// default, not in colors
			@include module.extend-viewports-classes {
				color: module.$color-text;
			}

			// no default
			@include module.extend-colors($shade: true) using($name, $value, $is-default) {
				@include module.extend-viewports-classes {
					color: $value;
				}
			}

			&-none {
				@include module.extend-viewports-classes {
					color: transparent;
				}
			}

			&-inherit {
				@include module.extend-viewports-classes {
					color: inherit;
				}
			}
		}
	}
}
