@use "module";
@use "sass:math";

// text spacing
//
// @group Modifiers
/// # Text Letter Spacing modifiers
/// Control text letter spacing.
///
/// ## Classes:
/// - `.--txtSpacing`, `.--txtSpacing-normal`: Sets letter-spacing to normal.
/// - `.--txtSpacing-[value]` (values are multiples of 5: `0`, `5`, `10`, `15`, `20`, `25`, `30`): Sets letter spacing in em based on `math.div($i, 3) * 1em`.
///
/// @group modifiers-text
@mixin text-spacing {
	@layer modifiers {
		.#{module.$prefix-default}--txtSpacing {
			&,
			&-normal {
				@include module.extend-viewports-classes {
					letter-spacing: normal;
				}
			}

			@for $i from 0 through module.$loop-letter-spacings {
				$value: math.div($i, 3) * 1em;

				&-#{$i * 5} {
					@include module.extend-viewports-classes {
						letter-spacing: $value;
					}
				}
			}
		}
	}
}
