@use "module";

// text style
//
// @group Modifiers
/// # Text Style modifiers
/// Control font style (italic, normal, oblique).
///
/// ## Classes:
/// - `.--txtStyle`, `.--txtStyle-italic`: Sets `font-style: italic`.
/// - `.--txtStyle-normal`: Sets `font-style: normal`.
/// - `.--txtStyle-oblique`: Sets `font-style: oblique`.
///
/// @group modifiers-text
@mixin text-style {
	@layer modifiers {
		.#{module.$prefix-default}--txtStyle {
			&-normal {
				@include module.extend-viewports-classes {
					font-style: normal;
				}
			}

			&-oblique {
				@include module.extend-viewports-classes {
					font-style: oblique;
				}
			}

			// default
			&,
			&-italic {
				@include module.extend-viewports-classes {
					font-style: italic;
				}
			}
		}
	}
}
