@use "module";

// text tranform
//
// @group Modifiers
@mixin text-transform {
	@layer modifiers {
		.#{module.$prefix-default}--txtTransform {
			&-lower,
			&-lowercase {
				@include module.extend-viewports-classes {
					&,
					&::first-letter {
						text-transform: lowercase;
					}
				}
			}

			&-upper,
			&-uppercase {
				@include module.extend-viewports-classes {
					&,
					&::first-letter {
						text-transform: uppercase;
					}
				}
			}

			&-capitalize {
				@include module.extend-viewports-classes {
					&,
					&::first-letter {
						text-transform: capitalize;
					}
				}
			}

			// default
			&,
			&-none {
				@include module.extend-viewports-classes {
					&,
					&::first-letter {
						text-transform: none;
					}
				}
			}
		}

		.#{module.$prefix-default}--txtDecoration {
			&-none {
				@include module.extend-viewports-classes {
					text-decoration: none;
				}
			}

			&-under,
			&-underline {
				@include module.extend-viewports-classes {
					text-decoration: underline;
				}
			}

			&-through,
			&-lineThrough {
				@include module.extend-viewports-classes {
					text-decoration: line-through;
				}
			}
		}
	}
}
