@use "module";

// text wrap
//
// @group Modifiers
/// # Text Wrap modifiers
/// Control text wrapping, word break, and balancing behaviors.
///
/// ## Classes:
/// - `.--txtWrap`, `.--txtWrap-wrap`: Sets standard wrapping (`white-space: normal`).
/// - `.--txtWrap-nowrap`: Disables wrapping (`white-space: nowrap`).
/// - `.--txtWrap-balance`: Applies `text-wrap: balance`.
/// - `.--txtWrap-pretty`: Applies `text-wrap: pretty`.
/// - `.--txtWrap-stable`: Applies `text-wrap: stable`.
///
/// @group modifiers-text
@mixin text-wrap {
	@layer modifiers {
		.#{module.$prefix-default}--txtWrap {
			&-nowrap {
				@include module.extend-viewports-classes {
					white-space: nowrap;
				}
			}
			&-balance {
				@include module.extend-viewports-classes {
					text-wrap: balance;
				}
			}
			&-pretty {
				@include module.extend-viewports-classes {
					text-wrap: pretty;
				}
			}
			&-stable {
				@include module.extend-viewports-classes {
					text-wrap: stable;
				}
			}

			// default
			&,
			&-wrap,
			&-balance,
			&-pretty,
			&-stable {
				@include module.extend-viewports-classes {
					white-space: normal;
				}
			}
		}
	}
}
